*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

search-fields{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
